@import '../../../style/variables.scss';
@import '../../charInfo/charInfo.scss';


.randomchar__btns {
    & a:nth-child(1) {
        margin-right: 30px;
    }
    &.single{
        text-align: center;
        margin: 20px;
    }
}

.back{
    text-align: center;
    cursor: pointer;
    margin: 20px auto;
    max-width: 200px;
    background-color: rgb(176, 176, 176);
    padding: 10px 15px;
    color: black;
    border: 2px solid rgb(176, 176, 176); 
}

.back:hover{
    transform: scale(1.1); 
}

.single-char {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 293px 550px auto;
    column-gap: 50px;
    align-items: start;
    &__img {
        width: 293px;
        height: 450px;
    }
    &__name {
        font-weight: bold;
        font-size: 22px;
        line-height: 29px;
    }
    &__descr {
        font-size: 18px;
        line-height: 24px;
        margin-top: 25px;
    }
    &__price {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: $main-color;
        margin-top: 25px;
    }
    &__back {
        justify-self: end;
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        &:hover {
            color: $main-color;
        }
    }
}